<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a routerLink="/home" class="navbar-brand"><img src="{{ logo.name }}" alt="{{lahatra.name | uppercase}}"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!--<ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Angular</a>
          <a class="dropdown-item" href="#">React</a>
          <a class="dropdown-item" href="#">Vue.js</a>
        </div>
      </li>
    </ul>-->
    <form class="navbar-form mr-auto" action="/action_page.php" style="width:65em; margin-left:15em;">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a class="nav-link" [routerLink]="menuItem.route">
          <span class="{{ menuItem.icon }}"></span> {{ menuItem.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>

<!--<div class="inner" ng-view>

</div>

<script type="text/javascript" src="../assets/js/please-wait.min.js"></script>

<script type="text/javascript">

  window.loading_screen = window.pleaseWait({

    logo: "../assets/img/logo.png",

    backgroundColor: '#f46d3b',
      loadingHtml: "<div class='sk-spinner sk-spinner-wave'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>"
    //loadingHtml: "<p class='loading-message'>A good day to you fine user!</p>"

  });

</script>

<script src="../assets/js/default.min.js"></script>-->


<router-outlet></router-outlet>