<div class="container margin-top">
    <h2>Les videos de la semaine</h2>
    <div class="row justify-content-md-center">
    <div class="col">
      <a routerLink="/video/f6GHAbenqvM"><img src="https://img.youtube.com/vi/f6GHAbenqvM/default.jpg"/></a>    
    </div>
    <div class="col">
      <a routerLink="/video/f6GHAbenqvM"><img src="https://img.youtube.com/vi/f6GHAbenqvM/default.jpg"/></a>    
    </div>
    <div class="col">
      <a routerLink="/video/f6GHAbenqvM"><img src="https://img.youtube.com/vi/f6GHAbenqvM/default.jpg"/></a>    
    </div>
    <div class="col">
      <a routerLink="/video/f6GHAbenqvM"><img src="https://img.youtube.com/vi/f6GHAbenqvM/default.jpg"/></a>    
    </div>
    <div class="col">
      <a routerLink="/video/f6GHAbenqvM"><img src="https://img.youtube.com/vi/f6GHAbenqvM/default.jpg"/></a>    
    </div>
  </div>
</div>